{#
/**
 * @file
 * Default theme implementation to embed a dailymotion url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - allowautoplay: Variable for Auto Play
 * - allowfullscreen: Variable for Full Screen
 * - source: Source URl for Dailymotion
 *
 * @ingroup themeable
 */
#}
<iframe frameborder="0" width="{{ width }}" height="{{ height }}" src="{{ source }}" {{ allowfullscreen }}></iframe>
